/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{

}
.header_menu {
    transition: all 1s;
    padding-bottom: 27px;
    padding-top: 10px;
}
.fixed_top{
z-index: 1;
width: 100%;
position:fixed;
background:#fff;
color:#000;
box-shadow: 0px -31px 6px 30px #000;
}
.menu{
	margin-top: 16px;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    float: left;
    margin-right: 23px;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.menu_color {
    color: #060606 !important;
    font-weight: bold;
}
.menu ul li a:hover{
	 color: #ccc6c6;
	 border-bottom:1px solid red;
}
.menu ul li a:focus{
	 border-bottom:1px solid #4bf018;
}
.header_area{
	background-image: url("../img/backo.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-attachment:fixed;
}
.header_post{
	padding-top:15px;
}
.header_post img{
	width:100%;
	height:700px;
}
.personal_info {
    margin-top: 141px;
}
.personal_info h1 {
    font-family: initial;
    font-size: 59px;
    margin-bottom: 0px;
	text-shadow: 0px 2px 6px #fff;
}
.personal_info h3 {
    font-size: 35px;
    color: #B83B35;
    font-weight: bolder;
	text-shadow: 0px 2px 6px #000;
}
.personal_info p {
    font-size: 27px;
    font-family: initial;
    color: #fff;
	text-shadow: 0px 2px 6px #000;
}
.my_social{
position: absolute;
left: -17px;
}
.my_social ul{
	list-style:none;
}
.my_social ul li {
    float: left;
    margin-right: 6px;
	font-size: 21px;
	transition:.5s;
}
.my_social ul li:hover{
	font-size: 30px;
}
.my_social ul li a{
	color:#fff;
}
/*about me*/
.about_me {
    border: 2px solid #fff;
	text-align:center;
	margin-top:3px;
}
.about_me:hover{
 box-shadow: 1px 8px 18px -1px;
}
.about_me img {
    width: 64%;
    height: 202px;
}
.about_me h1 {
    margin: 0px;
    font-family: initial;
    font-size: 36px;
    border-bottom: 2px solid #dadada;
    color: #E3733E;
}
.about_me p {
    text-transform: uppercase;
    font-size: 15px;
    color: #872525;
}
.about_me h3 {
    font-size: 14px;
    background: #E1E0E0;
    padding: 11px 0px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
	transition:.5s;
}
.about_me h3:hover{
	 background:#8ed18e;
}
.about_me h3:hover a{
	 color:#fff;
}
.about_me h3 a {
    text-decoration: none;
    color: #534e4e;
    padding: 4px 42px;
}
/*about area*/
.about_me_area {
    margin: 7% 0px;
}
.about_me_area img{
	width:100%;
}
.about_content{}
.about_content h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 0px;
    border-bottom: 2px solid #b2bec9;
    color: #1c241d;
    text-shadow: -3px 2px 3px;
    font-weight: bold;
    padding-bottom: 8px;
}
.about_content h2 {
    font-family: initial;
    margin-left: 7%;
    margin-bottom: 0px;
	margin-top: 42px;
}
.about_content p {
    text-align: justify;
    letter-spacing: 0.025em;
    font-size: 15px;
    line-height: 28px;
    margin-left: 7%;
    color: #5d5b5b;
}
.about_links {
    float: right;
    width: 357px;
}
.about_links span{
	font-weight: bold;
    margin-right: 2px;
}
.name{
	font-size: 20px;
	margin-top: 2px !important;
}

.name i {
    color: #64c670;
    margin-right: 4px;
}
.Email{
	font-size: 20px;
	margin-top: 2px !important;
}
.Email i{
	 margin-right: 4px;
	 color: #D44433;
}
.Phone{
	font-size: 20px;
	margin-top: 2px !important;
}
.Phone i{
	 margin-right: 4px;
	 color: #774f4f;
}

/*services area*/
.services_area {
    overflow: hidden;
    background: #f0f0f0;
    padding: 7% 0%;
}
.services_area h1 {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 0px;
    border-bottom: 2px solid #b2bec9;
    color: #1c241d;
    text-shadow: -2px 2px 3px;
    font-weight: bold;
    padding-bottom: 8px;
    width: 58%;
    margin: 0 auto;
}
.service_content {
    overflow: hidden;
    margin-top: 80px;
}
.service {
    width: 31%;
    float: left;
    position: relative;
    margin: 1%;
    height: 234px;
    padding: 1% 2%;
	transition:.5s;
	
}
.service:hover {
    box-shadow: 0px 5px 6px -4px #1425e3;
    background: #F0F0F0;
}

.service i {
    font-size: 51px;
    position: absolute;
    top: 8%;
    left: 42%;
    color: #c6c6c6;
}
.service h2 {
    margin-top: 21%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.service p {
    text-align: justify;
    font-size: 14px;
    font-family: initial;
}
.ser_bor {
    border: 2px solid green;
    position: absolute;
	width:0px;
	left:0%;
    bottom: 0%;
    transition:.2s;
	display:none;
}




/*================================================
portfolio area
=================================================*/
.portfolio_area {
    background: #FBFBFB;
    padding: 5% 0%;
}
.portfolio_area h1{
   margin-top:0px;
   text-transform: uppercase;
font-size: 32px;
margin-bottom: 0px;
border-bottom: 2px solid #b2bec9;
color: #1c241d;
text-shadow: -2px 2px 3px;
font-weight: bold;
padding-bottom: 8px;
width: 58%;
margin:0 auto;
margin-bottom:69px;   
}

/*Isotope*/
.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 27px;
  border: none;
  border-radius: 7px;
  color: #;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
  text-transform:uppercase;
 font-size: 12px;
font-weight: bold;
background: #f5f5f5;
}

.button:hover {
  background-color: #000;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #FFF;
}

.button:active,
.button.is-checked {
  background-color: #FBFBA6;
  color:#000 !important;
  outline:none;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}



/* ---- isotope ---- */

.grid {

}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
    float: left;
    width: 25%;
    height: 184px;
    padding: 3% 2%;
    color: #262524;
    border: 0px solid #FBFBFB;
}
.element-item p {
    font-family: initial;
	font-size:14px;
	margin-bottom:0px;
}
.element-item h2 a {
    text-decoration: none;
    color: #fff !important;
    background: #13b62c !important;
    padding: 2px 11px;
    text-transform: uppercase;
    font-size: 16px;
    background: #13b62c !important;
    transition: .3s;
    position: absolute;
    bottom: 6%;
    left: 26%;
}
.element-item h1 a:hover{
	background: #59bc69;
}


.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

.port_post{
	position:relative;
	overflow:hidden;
}

.port_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transition: .5s;
}
.port_post:hover .port_overlay{
	top:-100%;
	left:0%;
}
.port_overlay img{
	width:100%;
	height:100%;
}


/*===============================================
Testimonial area
=================================================*/
.testiomnial_area{
	position:relative;
	background-image: url("../img/client.jpg");
	background-repeat:no-repeat;
	background-position: top center;
	background-attachment:fixed;
	background-size:cover;
	padding-top: 5%;
padding-bottom: 7%;
}
.testiomnial_area h1{
	 margin-top:0px;
    text-transform: uppercase;
	font-size: 34px;
	margin-bottom: 0px;
	color: #000;
	font-weight: bold;
	padding-bottom: 8px;
	width: 58%;
	margin:0 auto;
	margin-bottom:69px; 
}
.testimonial_overlay{
	position:absolute;
	background:rgba(0,0,0, .4);
	width:100%;
	height:100%;
	top:0;
}
.testimoial{}
.testimoial img {
    width: 103px;
    height: 103px;
    border-radius: 50%;
}
.testimoial h2 {
    color: #cfcfcf;
    font-size: 30px;
    font-weight: bold;
    font-family: initial;
	margin-bottom:0px;
}
.testimoial a {
    text-decoration: none;
    font-size: 14px;
    color: #4fef51;
    font-weight: bold;
    text-transform: uppercase;
}
.testimoial p {
    color: #fff;
    width: 60%;
    margin: 4px auto;
    font-size: 18px;
}
.carousel-item {
    background:rgba(0, 0, 0,.1);
	padding: 4% 0%;
	margin-bottom:25px;
}

.carousel-control-prev-icon {
    position: absolute;
    bottom: -7%;
    left: 312%;
}
.carousel-control-next-icon{
	 position: absolute;
    bottom: -7%;
    right: 312%;
}



/*skil area*/

.skil_area{
background: rgb(192,197,213);
background: linear-gradient(94deg, rgba(192,197,213,1) 0%, rgba(26,44,199,0.7315125879453344) 46%, rgba(229,231,225,1) 100%);
margin-top:3px;
padding: 4% 0%;
}
.skil_head{
	width:100%;
	height:80px;
	background-image:url(../img/client.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment:fixed;
	margin-bottom:30px;
}
.skil_head h1 {
    text-align: center;
    margin-top: 0px;
    padding-top: 16px;
    font-weight: bold;
}

.skil_left{}
.skil_left_content {
    width: 31%;
    float: left;
    margin-left: 2%;
    margin-bottom: 26px;
    height: 150px;
}
.skil_left_content img{
	width:100%;
	height:100%;
}

.skil_right {
    margin-left: 5%;
	margin-top: 13%;
}

/*skill bar*/

#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
}
#wrapper h1
{
 margin-top:100px;
 font-size:55px;
 color:#2E64FE;
}
#wrapper h1 a
{
 color:#2E64FE;
 font-size:18px;
}
.skill_name {
	width:auto;
    height: 15px;
    line-height: 0px;
    font-weight: bold;
    font-size: 13px;
    color: white;
    clear: both;
    float: left;
    border-radius: 3px 0px 0px 3px;
    position: relative !important;
    left: 3% !important;
}
#skill_php
{

}
#skill_asp
{

}
#skill_jsp
{

}
.skillbar_wrapper {
    float: right;
    display: block;
    margin-bottom: 15px;
    width: 54%;
    background-color: #E6E6E6;
    height: 14px;
    border-radius: 0px 3px 3px 0px;
    margin-top: 20px;
    margin-left: 14px;
    position: relative;
    right: 43%;
}
.skillbar_bar 
{
 height:14px;
 width:0px;
 border-radius:0px 3px 3px 0px;
}
#skillbar_php
{
 background-color:#01DFD7;
}
#skillbar_asp
{
 background-color:#8181F7;
}
#skillbar_jsp
{
 background-color:#01DF01;
}
#skillbar_js{
	background-color:red;
}
.skill_bar_percent {
    position: absolute;
    right: 5px;
    top: -25px;
    font-size: 12px;
    height: 35px;
    line-height: 35px;
    color: black;
    font-weight: bold;
}























.space{height:800px;}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
